.auth-form {
  padding: 15px;
  background-color: #313338;
  border-radius: 4px;
  width: 100vw;
  box-sizing: border-box;
}

@media screen and (min-width: 480px) {
  .auth-form {
    width: 400px;
    padding: 30px;
  }
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 700;
  font-size: 0.8rem;
  color: var(--font-gray-1);
  text-transform: uppercase;
  display: block;
  margin-top: 16px;
  margin-bottom: 6px;
}

input {
  font-size: 1rem;
  height: 36px;
  padding: 2px 8px;
  box-sizing: border-box;
  border: none;
  display: block;
  border-radius: 2px;
  background-color: #1e1f22;
}

input[type="password"] {
  letter-spacing: -1px;
}

.label-required::after {
  content: "*";
  color: red;
  font-size: 0.7rem;
  vertical-align: 0.1em;
  margin: 0 4px;
}

button[type="submit"] {
  height: 44px;
  border: none;
  background-color: #e96045;
  border-radius: 2px;
  margin-top: 24px;
  font-weight: bold;
  font-size: 1.05rem;
}
