:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --font-gray-1: #b5bac1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
  line-height: 1.6;
}

p {
  line-height: 1.6;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button:hover {
  cursor: pointer;
}

a,
.link {
  all: unset;
  color: #00a8fc;
  cursor: pointer;
  font-size: 0.9rem;
}

.link:hover {
  text-decoration: underline;
}

a:focus-visible,
.link:focus-visible,
button:focus-visible,
input:focus-visible {
  outline: 4px solid #00a8fc;
  border-radius: 3px;
}

#app {
  margin: 0 auto;
  min-height: 100vh;
}
